<!DOCTYPE html>
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>WordBreak</title>
</head>
<body>
    <form method="post" class="form-x" action="http://127.0.0.1:8080/wordbreak">
        <p> Input :<input type="text" name="sentence" /></p>
        <p> DictionaryConfig :<input type="text" name="dicString" />(Reminder: please use "," to separate your parameters like "hello,world")</p>
        <input type="submit" value="Submit" />
        <input type="reset" value="Reset" />
    </form>
    <span>resutl: </span>
    <span th:text="${output}"></span>
</body>
</html>